h1.page-header About Hiram Hibbard

.me-outer
  .me-inner
    img(src="/images/Hiram.gif")

h2 I'm <strong>Lead Developer</strong> at <a href="http://www.wearehathway.com" target="_blank">Hathway</a>, an amazing place full of amazing people.

p I've been building things for the web for about a decade. I make <strong>websites</strong> and <strong>apps</strong> by day, and <code>dream of code</code> at night.

p I live in beautiful <strong>Grover Beach</strong>, with my 3 dogs and wonderful lady. I work just down the road in <strong>San Luis Obispo</strong>, the happiest city in the country (according to Oprah). I don't mean to brag, but my life is <em>pretty</em> amazing.

p I don't really like going on about myself. Go visit another page. Go on, <a href="https://github.com/hiramhibbard" target="_blank">GIT</a>!
