.me-outer {
  background: url(../images/Hiram.jpg) no-repeat center center;
  width: 485px;
  height: 440px;
  text-align: center;
  margin: 50px auto;
  padding: 5px;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 3px;
  position: relative;
}

.me-inner {
  margin: 0px;
}