doctype
html
  head
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/main.css")
  body
    header.navbar
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Hiram Hibbard
        nav.collapse.navbar-collapse(role="navigation")
          ul.nav.navbar-nav
            li
              a(href="/about") About Me
            li
              a(href="http://blog.hir.am") Blog
    != yield
    footer
      .container
        p.text-center
          | Find me on <a href="https://stackoverflow.com/users/1327324/hiram-hibbard" target="_blank">Stackoverflow.</a><br>
          | Follow me on <a href="https://www.facebook.com/hiram.hibbard" target="_blank">Facebook</a> and <a href="https://twitter.com/hiramhibbard">Twitter.</a><br>
          | Fork me on <a href="https://github.com/hiramhibbard" target="_blank">Github.</a>
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/raphael.min.js")
    script(src="/js/jquery.lazylinepainter-1.4.1.min.js")
    script(src="/js/skrollr.min.js")
    script(src="/js/scripts.js")
    script.
      drawLogo()