h1 Professional portfolio of Hiram Hibbard.
h3 Stay tuned!

img.rubydog.img-responsive(src="images/roo.png", alt="")
p.text-center
 | This is Ruby. She loves wearing hats and having her picture taken.<br>
 | <em class="small">Just kidding, she hates my guts</em>