body {
  font-family: "Open Sans", sans-serif;
  background: #f4f4f7;
  color: #444;
}

h1 { border-bottom: #CCC solid 1px; }

h3 {
  font-weight: 300;
}

.me-outer {
  background: url(images/Hiram.jpg) no-repeat center center;
  width: 485px;
  height: 440px;
  text-align: center;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}
.me-inner {
  margin: 0px;
}
.rubydog { margin: 0px auto; }

footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 50px;
  padding: 20px;
}